@model DateTime

<div>
    <div>
        Year: @Model.Year
    </div>
    <div>
        Month: @Model.Month
    </div>
    <div>
        Day: @Model.Day
    </div>
    <div>
        Hour: @Model.Hour
    </div>
    <div>
        Minute: @Model.Minute
    </div>
</div>